{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_navigation_description %}
    {{ parent() }}
    {% if page.product.extensions.promotion.elements %}
        <li class="nav-item">
            <a class="nav-link" id="bundle-tab" data-toggle="tab" data-offcanvas-tabs="true" href="#promotion-tab-pane" role="tab" aria-controls="promotion-tab-pane" aria-selected="false">
                <span>Promotion</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_product_detail_tabs_content_description %}
    {{ parent() }}
    {% if page.product.extensions.promotion.elements %}
        <div class="tab-pane fade"
             id="promotion-tab-pane"
             role="tabpanel"
             aria-labelledby="bundle-tab">

            <div class="container bundle-container">
                <ul>
                    <h5>Promotions :</h5>
                    {% for promotion in page.product.extensions.promotion.elements %}
                        <li>
                            {{ promotion.name }} (Discount {{ promotion.discountRate }}%) : From {{ promotion.startDate.format("Y-m-d") }} to {{ promotion.expiredDate.format("Y-m-d") }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
